h1
{
	font-size: 40px;
	font-family: Verdana;
}

h3
{
	font-size: 20px;
	font-family: Arial;
	white-space: pre-wrap;
}

.divider
{
	width: 80%;
	color: gray;
}

.btn-row
{
	display: block;
	margin: 10px 0px 0px 0px;
}


span.glyphicon-list
{
	font-size: 2.0em;
}

span.glyphicon-arrow-right
{
	font-size: 2.0em;
}

.menu-button
{
	position: fixed;
  	top: 30px;
  	right: 20px;
  	transition: 0.2s linear;
}

.menu-button:hover
{
	cursor: hand;
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.2s linear;
}

.hide-menu-button
{
	position: fixed;
  	top: 30px;
  	right: 170px;
  	transition: 0.2s linear;
}

.hide-menu-button:hover
{
	cursor: hand;
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.2s linear;
}

.button-icon
{
	margin-bottom: 3px;
	height: 15px;
	width: 15px;
}

.menu-button
{
	margin-right: 60px;
}

.navbar
{
	position: fixed;
  	top: 0px;
  	right: -600px;
  	height: 100%;
  	width: 75rem;
  	float: left;
  	background-color: #B0A9A9;
  	border-radius: 0px;
}

.navbar a
{
	color: black;
	font-family: Helvetica;
	font-size: 2.2rem;
  	line-height: 2.2rem;
  	letter-spacing: 0;
  	font-weight: 300;
}

.biography
{
	font-family: Helvetica;
	font-size: 2.0rem;
	line-height: 2.0rem;
	letter-spacing: 0;
	font-weight: 300;
}

.top-buffer
{
	margin-top: 120px;
}